Repository Shannon-Labs/davinci-codex: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, check-invention-metadata, validate-cad-models, check-simulation-reproducibility

pytest-check:
  name: Run tests
  entry: python -m pytest
  args:
  - tests/
  - --maxfail=1
  - -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-invention-metadata:
  name: Check invention module metadata
  entry: python scripts/validate_invention_metadata.py
  language: system

validate-cad-models:
  name: Validate CAD model integrity
  entry: python scripts/validate_cad_models.py
  language: system

check-simulation-reproducibility:
  name: Check simulation reproducibility
  entry: python scripts/check_simulation_seeds.py
  language: system

feat: Leonardo's Programmable Loom - World's First Textile Computer
  artifacts/programmable_loom/README.md
  cad/programmable_loom/model.py
  docs/programmable_loom.md
  src/davinci_codex/inventions/programmable_loom.py
  tests/test_programmable_loom.py
Due: pytest-check, check-invention-metadata, validate-cad-models, check-simulation-reproducibility

Professionalize repository: remove emojis, enhance Jekyll site, strengthen programmable loom documentation
  CONTRIBUTING.md
  PROFESSIONAL_DEPLOYMENT_COMPLETE.md
  PROFESSIONAL_FEATURES.md
  PROGRAMMABLE_LOOM_ACHIEVEMENT.md
  README.md
  RENAISSANCE_TRANSFORMATION_REPORT.md
  REPOSITORY_STRUCTURE.md
  artifacts/aerial_screw/complete_package/animations/rendering_script.py
  artifacts/programmable_loom/README.md
  cad/programmable_loom/model.py
  development/COMMIT_PROMPT.md
  development/LEONARDO_WEBSITE_PROMPT.md
  docs/aerial_screw.md
  docs/overview.md
  docs/planning/IMPLEMENTATION_SUMMARY.md
  docs/planning/VORTEX_ANALYSIS_SUMMARY.md
  src/davinci_codex/inventions/programmable_loom.py
Due: pytest-check, check-invention-metadata, validate-cad-models, check-simulation-reproducibility

🚀 Complete Project Enhancement: All 19 Inventions Fully Represented
  COMPREHENSIVE_REVIEW_REPORT.md
  CONTENT_ENHANCEMENT_PLAN.md
  README.md
  VISUAL_ASSETS_SUMMARY.md
  docs/TESTING.md
  docs/_config.yml
  docs/_layouts/education.html
  docs/_layouts/invention.html
  docs/dashboard.md
  docs/education.md
  docs/mechanical_carillon.md
  docs/mechanical_drum.md
  docs/mechanical_organ.md
  docs/mechanical_trumpeter.md
  docs/programmable_flute.md
  docs/viola_organista.md
  generate_additional_assets.py
  generate_visual_assets.py
  generate_visual_assets_simple.py
Due: pytest-check

tests(smoke): add hero demo smoke tests (parachute, aerial_screw, mechanical_lion)
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  Makefile
  README.md
  docs/_config.yml
  docs/index.md
  docs/playground.md
  hf_space/README.md
  hf_space/app.py
  hf_space/requirements.txt
  notebooks/Quickstart.ipynb
  pyproject.toml
  requirements-docs.lock
  requirements.lock
  tests/smoke/test_hero_demos.py
Due: pytest-check

fix: resolve dead external links and improve documentation
  README.md
  check_links.py
  dead_links_report.md
  docs/revolving_bridge.md
Due: pytest-check

refactor: enhance documentation structure and improve clarity
  CLAUDE_CONTINUATION_PROMPT.md
  inventions/hydraulic_systems/COMPLETE_SYSTEM_PACKAGE.md
  inventions/hydraulic_systems/TECHNICAL_MASTERPLAN.md
  inventions/hydraulic_systems/water_wheel/EDUCATIONAL_CURRICULUM.md
  inventions/hydraulic_systems/water_wheel/cad/stl_files/COMPONENT_LIBRARY.md
  inventions/hydraulic_systems/water_wheel/manufacturing/ASSEMBLY_GUIDE.md
  inventions/hydraulic_systems/water_wheel/manufacturing/PRINTING_GUIDE.md
  inventions/hydraulic_systems/water_wheel/technical_docs/CAD_SPECIFICATIONS.md
  inventions/hydraulic_systems/water_wheel/technical_docs/SAFETY_OPERATION_MANUAL.md
  inventions/hydraulic_systems/water_wheel/technical_docs/calculations/PERFORMANCE_ANALYSIS.md
  web/hydraulic_systems.html
Due: none

feat: Leonardo's Complete Renaissance Workshop - Phase 1 Initial Implementation
  LEONARDO_WORKSHOP_IMPLEMENTATION_ROADMAP.md
  web/aerial_screw.html
  web/parachute.html
Due: none

refactor: streamline README for improved readability and navigation
  README.md
Due: none

feat: add interactive web interface for Leonardo's Mechanical Lion
  web/mechanical_lion.html
Due: none

feat: add interactive web interface for Leonardo's Ornithopter
  web/ornithopter.html
Due: none

feat: complete all remaining interactive web interfaces for Leonardo's inventions
  web/armored_walker.html
  web/bobbin_winder.html
  web/mechanical_carillon.html
  web/mechanical_drum.html
  web/mechanical_ensemble.html
  web/mechanical_odometer.html
  web/mechanical_organ.html
  web/mechanical_trumpeter.html
  web/programmable_flute.html
  web/programmable_loom.html
  web/revolving_bridge.html
  web/self_propelled_cart.html
  web/variable_pitch_mechanism.html
  web/viola_organista.html
Due: none

feat: transform repository into Renaissance digital masterpiece
  README.md
  web/gallery.html
  web/index.html
  web/navigation.html
Due: none

fix: optimize README for GitHub rendering and deploy web interfaces to Pages
  README.md
  docs/aerial_screw.html
  docs/armored_walker.html
  docs/assets/css/leonardo_design_system.css
  docs/bobbin_winder.html
  docs/cross_pollination_explorer.html
  docs/gallery.html
  docs/hydraulic_systems.html
  docs/index.html
  docs/invention_timeline.html
  docs/mechanical_carillon.html
  docs/mechanical_drum.html
  docs/mechanical_ensemble.html
  docs/mechanical_lion.html
  docs/mechanical_odometer.html
  docs/mechanical_organ.html
  docs/mechanical_trumpeter.html
  docs/mirror_writing_interface.html
  docs/navigation.html
  docs/ornithopter.html
  docs/parachute.html
  docs/programmable_flute.html
  docs/programmable_loom.html
  docs/revolving_bridge.html
  docs/self_propelled_cart.html
  docs/universal_machine.html
  docs/variable_pitch_mechanism.html
  docs/viola_organista.html
Due: none

fix: downgrade contourpy to 1.2.1 to support Python 3.10 in CI
  requirements.lock
Due: none

ci: fix cache hash path for requirements.lock
  .github/workflows/ci.yml
Due: none

fix: restore registry markers and robust cache key
  .github/workflows/ci.yml
  README.md
Due: none

ci: harden semgrep step and fix docker deps
  .github/workflows/security.yml
  Dockerfile
Due: none

docs: add Renaissance Ensemble to main page with featured section
  docs/_includes/footer.html
  docs/index.md
Due: none

fix: remove static index.html to let Jekyll process index.md
  docs/index.html
Due: none

fix: simplify docs/index.md for Jekyll compatibility
  docs/index.md
Due: none

fix: create static docs/index.html for immediate GitHub Pages compatibility
  docs/index.html
Due: none

fix: deploy web/ as static site, bypass broken Jekyll pipeline
  .github/workflows/pages.yml
  web/gallery.html
  web/index.html
  web/renaissance_ensemble/index.html
Due: none

fix: replace misattributed Leibniz/Debussy quote with actual Leonardo da Vinci
  NEXT_AI_PROMPT.md
  web/renaissance_ensemble/index.html
Due: none

feat: add interactive audio to Renaissance Ensemble page
  web/renaissance_ensemble/assets/demo_basse_danse.mp3
  web/renaissance_ensemble/assets/demo_galliard.mp3
  web/renaissance_ensemble/assets/demo_madrigal.mp3
  web/renaissance_ensemble/index.html
  web/renaissance_ensemble/js/app.js
  web/renaissance_ensemble/js/audio-engine.js
Due: none

fix: resolve initialization crash preventing audio buttons from working
  web/renaissance_ensemble/index.html
  web/renaissance_ensemble/js/app.js
Due: none

fix: overhaul audio synthesis to eliminate clipping and harshness
  web/renaissance_ensemble/js/audio-engine.js
Due: none

fix: remove fabricated quotes, fix timbre values, strip dead UI from ensemble page
  asset_audit_report.json
  web/renaissance_ensemble/index.html
  web/renaissance_ensemble/js/app.js
  web/renaissance_ensemble/js/audio-engine.js
Due: none

cleanup: consolidate tools/ and materials_analysis/ directories
  .gitignore
  analysis/materials/MATERIALS_ANALYSIS_SUMMARY.md
  analysis/materials/cost_availability_analysis.py
  analysis/materials/historical_supplier_analysis.txt
  analysis/materials/lion_materials_analysis.py
  analysis/materials/material_selection_matrix.py
  analysis/materials/material_specifications.txt
  analysis/materials/renaissance_materials_database.py
  scripts/tools/manuscript_scanner.py
Due: pytest-check

docs: update REPOSITORY_STRUCTURE.md with cleanup changes
  REPOSITORY_STRUCTURE.md
Due: none

cleanup: comprehensive root-level consolidation - reduce items by 56%
  .github/workflows/ci.yml
  Makefile
  README.md
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/hf_space/README.md
  deploy/hf_space/app.py
  deploy/hf_space/requirements.txt
  docs/meta/CLAUDE.md
  docs/meta/REFERENCES.md
  docs/meta/REPOSITORY_STRUCTURE.md
  licenses/LICENSE
  licenses/LICENSE-CC0
  licenses/README.md
  requirements/requirements-docs.lock
  requirements/requirements.lock
  research/experiments/anima/ornithopter/intent.json
  research/experiments/failures/flight_attempts/feather_attachment.md
  research/experiments/failures/flight_attempts/human_power_limits.md
  research/experiments/failures/flight_attempts/rigid_wings.md
  research/experiments/failures/perpetual_motion/magnetic_wheel.md
  research/experiments/failures/perpetual_motion/overbalanced_wheel.md
  research/experiments/failures/perpetual_motion/water_recirculation.md
  research/experiments/ip_nexus/README.md
  research/experiments/ip_nexus/ornithopter/README.md
  research/experiments/synthesis/ornithopter/simulation/flapping_model.py
  research/experiments/tva/mechanical_odometer/data/slip_characterisation.yaml
  research/experiments/tva/ornithopter/data/fsi_modal_response.csv
  research/experiments/tva/ornithopter/human_power_profiles.csv
  research/experiments/tva/ornithopter/materials.yaml
  research/experiments/tva/ornithopter/viability_report.md
  research/experiments/tva/parachute/data/drop_profiles.csv
  research/experiments/tva/parachute/data/drop_profiles.yaml
  research/frameworks/toulmini/__init__.py
  research/frameworks/toulmini/__main__.py
  research/frameworks/toulmini/models.py
  research/frameworks/toulmini/prompts.py
  research/frameworks/toulmini/pyproject.toml
  research/frameworks/toulmini/server.py
Due: pytest-check

fix: restore _createNoiseNode method deleted by Codex Anima commit
  web/renaissance_ensemble/js/audio-engine.js
Due: none

feat: wire codex-anima assets into all docs/ pages
  docs/_layouts/education.html
  docs/_layouts/invention.html
  docs/_layouts/landing.html
  docs/index.html
Due: none

Path conditions:
  pytest-check: any of: \.py$
  check-invention-metadata: any of: ^src/davinci_codex/inventions/ and \.py$
  validate-cad-models: any of: ^cad/ and \.py$
  check-simulation-reproducibility: any of: ^src/davinci_codex/inventions/ and \.py$
